In [1]:
import findspark
findspark.init()

import pyspark
import random

In [2]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.session import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import isnan, when, count, col
import altair as alt

In [3]:
filename = "2004.csv"

In [4]:
def _init_spark():
    spark = SparkSession.builder.appName("Project").getOrCreate()
    sc = spark.sparkContext
    return spark, sc

In [5]:
spark, sc = _init_spark()

In [6]:
sqlContext = SQLContext(sc)


df = sqlContext.read.load(filename, 
                      format='com.databricks.spark.csv', 
                      header='true',
                      delimiter=',',
                      inferSchema='true')
df.registerTempTable('dfSQL')
df.cache()

DataFrame[Year: int, Month: int, DayofMonth: int, DayOfWeek: int, DepTime: string, CRSDepTime: int, ArrTime: string, CRSArrTime: int, UniqueCarrier: string, FlightNum: int, TailNum: string, ActualElapsedTime: string, CRSElapsedTime: int, AirTime: string, ArrDelay: string, DepDelay: string, Origin: string, Dest: string, Distance: int, TaxiIn: int, TaxiOut: int, Cancelled: int, CancellationCode: string, Diverted: int, CarrierDelay: int, WeatherDelay: int, NASDelay: int, SecurityDelay: int, LateAircraftDelay: int]

In [7]:
# removing as is stated in the task along with the 'Year'
col_to_drop = ['ArrTime', 'ActualElapsedTime', 'AirTime', 'TaxiIn', 'Diverted', 
               'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'Year']
df = df.drop(*col_to_drop)

In [8]:
df1 = df.select('origin','dest','distance')
df2 = sqlContext.sql('select * from dfSQL where FlightNum IN (select max(FlightNum)from dfSQL)')
df3 = sqlContext.sql('select origin, dest, distance from dfSQL')

In [9]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|CancellationCode|
+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|    0|         0|        0|      0|         0|         0|            0|        0|    127|             0|       0|       0|     0|   0|       0|      0|        0|         7001506|
+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+

In [ ]:
df = df.filter(df.TailNum.isNotNull() )
df = df.drop('CancellationCode')

In [31]:
import pandas as pd
dfPanda = df.sample(False, 0.25, 42).toPandas()

In [32]:
dfPanda

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiOut,Cancelled,CancellationCode
0,1,20,2,627,630,915,UA,462,N454UA,105,-11,-3,ORD,CLT,599,10,0,None
1,1,30,5,627,630,915,UA,462,N428UA,105,-11,-3,ORD,CLT,599,9,0,None
2,1,1,4,1510,1505,1725,UA,463,N844UA,260,28,5,ORD,PDX,1739,29,0,None
3,1,9,5,1509,1510,1732,UA,463,N502UA,262,10,-1,ORD,PDX,1739,33,0,None
4,1,10,6,1554,1520,1744,UA,463,N805UA,264,47,34,ORD,PDX,1739,25,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783940,12,16,4,1434,1437,1427,DL,1119,N962DL,50,-2,-3,ATL,BHM,134,15,0,None
1783941,12,16,4,1008,958,1149,DL,1127,N834MH,111,4,10,ATL,FLL,581,21,0,None
1783942,12,16,4,918,920,1213,DL,1135,N399DA,113,-9,-2,MDW,ATL,590,10,0,None
1783943,12,16,4,808,810,855,DL,1136,N660DL,105,-10,-2,SLC,SMF,532,20,0,None
1783944,12,16,4,1645,1639,1716,DL,1138,N995DL,97,-1,6,ATL,MSY,425,13,0,None

In [ ]:



alt.Chart(dfPandas).mark_point().encode(
    x='DayofMonth',
    y='Month',
    color='DayOfWeek',
)